In [ ]:
#Task 01
string='BaNaNa'
count_upper=0
count_lower=0

for i in string:
  if 'A'<=i<='Z':
    count_upper+=1
  elif 'a'<=i<='z':
    count_lower+=1

final_str=''
if count_lower>=count_upper:
  for i in string:
    if 'A'<=i<='Z':
      final_str+=chr(ord(i)+32)
    else:
      final_str+=i

else:
  if count_lower<count_upper:
    for i in string:
      if 'a'<=i<='z':
        final_str+=chr(ord(i)-32)
      else:
        final_str+=i

print(final_str)

banana

In [ ]:
#Task 02
string='jhg231j213'
numbers= "0123456789"

count = 0
for i in string:
    if i in numbers:
        count += 1
if count == 0:
    print("WORD")
elif count < len(string):
    print("MIXED")
elif count == len(string):
    print("NUMBER")

MIXED

eval tells us which datatype

In [ ]:
string=eval(input())

print(type(string))

'dd'
<class 'str'>

In [ ]:
#Task 03 (method 01)

string='baNgladEsh'
count=0
new=''

for i in range(len(string)):
  if 'A'<=string[i]<='Z' :
    if count==0:
       count+=1
       index1=i+1
    else:   
      
       new=string[index1:i]
       break

if len(new)==0:
  print('BLANK')
else:
  print(new)

glad

In [ ]:
#Task 03(method 2)
string='baNEsh'
new=''
count=0
for i in range(len(string)):
  if 'A'<=string[i]<='Z' and count==0:
    index=i+1
    count+=1
  elif 'A'<=string[i]<='Z' and count==1: 
    index2=i
new=string[index:index2]
if new!="":
  print(new)
else:
  print('BLANK')

BLANK

In [ ]:
# Task 03(method 02)

user='baNgladEsh'
for i in range(len(user)): 
  if 'A'<=user[i]<='Z':
    start=i+1
    break
  
new=""
for j in range(start,len(user)+1):
 if 'A'<=user[j]<='Z':
   break
 else: 
   new+=user[j]
 
if new=="":
  print("BLANK")
else:
  print(new)

glad

In [ ]:
#Task 04 (method 01)

string='harry, hermione'.split(", ")
print(string)
common=''

for i in string[0]:
  if i in string[1]:
      common+=i

for x in string[1]:
  if x in string[0]:

      common+=x

if common=='':      
  print('Nothing in common')
else:
  print(common)

['harry', 'hermione']
hrrhr

In [ ]:
#Task 04(Method 02)
str1='dean, tom'.split(", ")

new=str1[0]
old=str1[1]

final=''

for i in new:
  if i in old:
    final+=i

for i in old:
  if i in new:
    final+=i

if len(final)>1:
  print(final)
else:
  print('Nothing in common')

In [ ]:
# Task 05(Method 01)

user='ohmybracu'
low_case=0
up_case=0
digit=0
char=0
sp_char="_$#@"
new=""
for i in user:
  if "A"<=i<="Z":
    up_case=1
  if "a"<=i<="z":
    low_case=1
  if "0"<=i<="9":
    digit=1
  if i in sp_char:
    char=1
if low_case==0:
  new+="Lowercase letter missing, "
if up_case==0:
  new+="Uppercase letter missing, "
if digit==0:
  new+="Digit missing, "
if char==0:
  new+="Special character missing, "

if low_case==up_case==digit==char==1:
  print("OK")
else:
  new=new[:-2]
  new+='.'
  print(new)

Uppercase letter missing, Digit missing, Special character missing.

In [ ]:
L=D=U=S=0
word = input("New password:- ")
for i in word:
  if ord(i) in (range(ord('a'),(ord('z')+1))):
    L += 1
  elif ord(i) in (range(ord('A'),(ord('Z')+1))):
    U += 1
  elif ord(i)  in (range(ord('0'),(ord('9')+1))):
    D += 1
  elif i in ("_$#@"):
    S += 1
if L == 0:
  print('Lower case charachter missing')
if U == 0:
  print('Upper case charachter missing')
if D == 0:
  print('Digit charachter missing')
if S == 0:
  print('Special charachter missing')
if L and U and D and S > 0:
  print("OK")

New password:- ohmybracu
Upper case charachter missing
Digit charachter missing
Special charachter missing

In [ ]:
#list 01
number=input('Sir, please enter a number: ')
lst=[]
while number!='STOP':
  lst.append(int(number))
  number=input('Sir, please enter a number: ')

unique=[]

for i in lst:
  if i not in unique:
    unique.append(i)

frq=[]
counter=0
for i in unique:
  for j in lst:
    if i==j:
      counter+=1
  frq.append(counter) 
  counter=0

for i in range(len(frq)):
  print(f'{unique[i]} - {frq[i]} time(s)')

In [ ]:
#list 01
lst=[]
new=[]
while True:
  numbers=input('Sir,please enter a number: ')
  if numbers=='STOP':
    break
  else:
    lst.append(int(numbers)) 

for i in lst:
  counter=0
  for j in lst:
    if j==i:
      counter+=1
  if i not in new:
    new.append(i)
    print(i,'-',counter,'times')

Sir,please enter a number: 10
Sir,please enter a number: 20
Sir,please enter a number: 20
Sir,please enter a number: 30
Sir,please enter a number: 10
Sir,please enter a number: 50
Sir,please enter a number: 90
Sir,please enter a number: STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

In [ ]:
#01(METHOD 02)
lst = []
new = []
inp = input("Number :- ")
while inp != "STOP":
  lst.append(inp)
  inp = input("Number :- ")
for i in lst:
  flag = 0
  for j in lst:
    if j == i:
      flag += 1
  if i not in new:
    new.append(i)
    print(i,'-',flag,'times')

In [ ]:
#list 02

no=int(input())

max=0

for i in range(no):
  sum=0
  number=input().split(" ")
  for j in number:
    
    sum+=int(j)
  if sum>max:
    max=sum
    
    a_list=number

max_lst=[]    
for k in a_list:
   max_lst.append(int(k))   

print(max)
print(max_lst)

4
1 2 3
4 5 6
10 11 12
7 8 9
33
[10, 11, 12]

In [ ]:
#List 02

user = int(input())
max = 0
sum = 0
empty = ''
li=[]
for x in range(user):
    user = input()
    l1 = user.split(' ')

    for i in l1:
        sum += int(i)
    if sum > max:
        max = sum
        li = l1
    sum= 0
print(max)
l = []
for x in li:
    l.append(int(x))
print(l)

In [ ]:
#List 03

inp1=[1,2,3]
inp2=[3,4,5]
inp3=[]

for i in inp1:
  for j in inp2:
    inp3.append(int(i)*int(j))
print(inp3)

[3, 4, 5, 6, 8, 10, 9, 12, 15]

In [ ]:
#lIST 04(Method 01)
diff=[]
str1=''

while True:
  inp=input()
  if inp=='STOP':
    break
  else:
    lst=inp.split(" ")            # 2 1 4 6 10
                                      # 1  3 2 4 
    for i in range(len(lst)):
      if i==len(lst)-1:
        break
      else:
        a=abs(int(lst[i])-int(lst[i+1]))
        diff.append(a)
        
      counter=0  
      for i in diff:
        if i in range(1, len(lst)):
          counter+=1
    if counter==len(lst)-1:
        str1+='Ub Jumper\n'
    else:
        str1+='Not Ub Jumper\n'
    diff=[]    
print(str1)

1 4 2 3
2 1 4 6 10
1 4 2 -1 6
STOP
Ub Jumper
Ub Jumper
Not a Ub Jumper

In [ ]:
#task: 05

user=input()
n,k=user.split(" ")
info=input()
myl=info.split(" ")
new=[]

for i in myl:
  new.append(int(i))
count=0
for j in new:
  if (j+int(k))<=5:
    count+=1
team=count//3
print(team)

6 5
0 0 0 0 0 0
2

In [ ]:
#01
d1={'a': 100, 'b': 100, 'c': 200, 'd': 300}
d2={'a': 300, 'b': 200, 'd': 400, 'e': 200}

d3={}

for i,j in d1.items():
  if i not in d3.keys():
     d3[i]=j
for x,y in d2.items():
  if x not in d3.keys():
    d3[x]=y
  else:
    d3[x]+=y
print(d3)  
         
lst=[]

for j in d3.values():
  if j not in lst:
     lst.append(j)

lst.sort()
print(tuple(lst))

{'a': 400, 'b': 300, 'c': 200, 'd': 700, 'e': 200}
(200, 300, 400, 700)

In [ ]:
#Dictionary 02:
d1={}
while True:
  inp=input()
  if inp=='STOP':
    break
  else:
    if int(inp) not in d1.keys():
      d1[int(inp)]=1
    else:
      d1[int(inp)]+=1

for keys,values in d1.items():
  print(f'{keys} - {values} times')

10
20
20
30
10
50
90
STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

In [ ]:
#DICITONARY 03
word = 'key1 : value1, key2 : value2, key3 : value1'
dic1={}
dic2={}
lis1 = word.split(', ')
for i in lis1:
  lis2=i.split(' : ')
  v , k = lis2
  if k in dic2:
    dic2[k].append(v)
  else:
    dic2[k] = [v]
print(dic2)

In [ ]:
#DICITONARY 04
word = 'Hello, World!'
new = ''
for i in word:
  if 'a'<=i<='z':
    new += chr(ord(i)-32)
  else:
    new += i
num = ''
dic = {1:'.,?!:',2:'ABC',3:'DEF',4:'GHI',5:'JKL',6:'MNO',7:'PQRS',8:'TUV',9:'WXYZ',0:' '}
for i in new:
  for j in dic:
    #print(j)
    if i in dic[j]:
      flag = 1
      for k in dic[j]:
        if i == k:
          num += flag * str(j)
        else:
          flag+=1
print(num)

4433555555666110966677755531111

In [ ]:
#Dicitonary 04
a='Hello, World!'.upper()
index=0
d1={1:',.?!:',2:'ABC',3:'DEF',4:'GHI',5:'JKL',6:'MNO',7:'PQRS',8:'TUV',9:'WXYZ',0:' '}
final=''
for i in a:
  for keys,values in d1.items():
    if i in values:
      key=keys
      for j in range(len(values)):
        if i==values[j]:
          index=1+j
          final+=str(keys)*index
          break
print(final)

443355555566610966677755531111

In [ ]:
#extras

string= 'Harry, 10234567'
list1 = [['CSE111: 3.7', 'CSE260: 3.7', 'ENG101: 4.0'], 'Summer2020', ['CSE230: 4.0', 'CSE220: 4.0', 'MAT110: 4.0'], 'Summer2022']

# Result of Harry with ID 10234567:
# {'Summer2020': {('CSE111', 'CSE260', 'ENG101'): 3.8}, 'Summer2022': {('CSE230', 'CSE220', 'MAT110'): 4.0}}

result={}

for i in range(len(list1)):
  if i%2==0:
    list_course=[]
    list_cgpa=[]
    for j in list1[i]:
      course,cgpa=j.split(":")
      list_course.append(course)
      list_cgpa.append(float(cgpa))
    sum1=0

    for x in list_cgpa:
      sum1+=x
    cgpa_sum=round(sum1/len(list_course),1)
    one_semester={}
    one_semester[tuple(list_course)]=cgpa_sum
    result[list1[i+1]]=one_semester
print(result)

{'Summer2020': {('CSE111', 'CSE260', 'ENG101'): 3.8}, 'Summer2022': {('CSE230', 'CSE220', 'MAT110'): 4.0}}

In [ ]:
a='CSE110ISMYWAR2812'
sum_letters=0
sum_digits=0

for i in a:
  if i in '0123456789':
    sum_digits+=ord(i)
  else:
    sum_letters+=ord(i)

difference=(sum_letters-sum_digits)
index=0

for i in range(len(a)):
  if a[i]=='A':
    index=i

print(difference%index)

In [ ]:
# {'gmail': ['tom'], 'gsuite mail': ['harry', 'lisa'], 'brac mail': ['abc', 'xyz']}

st='tom@gmail.com, harry@g.bracu.ac.bd, lisa@g.bracu.ac.bd, abc@bracu.ac.bd, xyz@bracu.ac.bd, bella@gmail.com'

mail={}
list1=st.split(', ')
# print(list1)

for i in list1:

  name,email=i.split('@')
  if email=='gmail.com' and 'gmail' not in mail:
    mail['gmail']=[name]
  elif email=='gmail.com':
    mail['gmail'].append(name)
  elif email=='g.bracu.ac.bd' and 'gsuite mail' not in mail:
    mail['gsuite mail']=[name]
  elif email=='g.bracu.ac.bd':
    mail['gsuite mail'].append(name)
  elif email=='bracu.ac.bd' and 'brac mail' not in mail:
    mail['brac mail']=[name]  
  elif email=='bracu.ac.bd':
    mail['brac mail'].append(name)  

print(mail)

{'gmail': ['tom', 'bella'], 'gsuite mail': ['harry', 'lisa'], 'brac mail': ['abc', 'xyz']}