# **Lab Assignments**

In [ ]:
#Task:01

import math
class Circle:
  def __init__(self,radius):
    self.__radius=radius

  def setRadius(self,radius):
    self.__radius=radius  
  
  def getRadius(self):
    return self.__radius

  def area(self):
    return f'{math.pi*self.__radius**2}'



c1 = Circle(4)
print("First circle radius:" , c1.getRadius())
print("First circle area:" , c1.area())

c2 = Circle(5)
print("Second circle radius:" , c2.getRadius())
print("Second circle area:" , c2.area())

First circle radius: 4
First circle area: 50.26548245743669
Second circle radius: 5
Second circle area: 78.53981633974483

In [ ]:
#Task:02

class Triangle:
  def __init__(self,base,height):
    self.__base=base
    self.__height=height

  def setBase(self,base):
    self.__base=base

  def setHeight(self,height):
    self.__height=height

  def getBase(self):
    return self.__base

  def getHeight(self):
    return self.__height

  def area(self):
    return f'{0.5*self.__base*self.__height}'            




t1 = Triangle(10, 5)
print("First Triangle Base:" , t1.getBase())
print("First Triangle Height:" , t1.getHeight())
print("First Triangle area:" ,t1.area())

t2 = Triangle(5, 3)
print("Second Triangle Base:" , t2.getBase())
print("Second Triangle Height:" , t2.getHeight())
print("Second Triangle area:" ,t2.area())

First Triangle Base: 10
First Triangle Height: 5
First Triangle area: 25.0
Second Triangle Base: 5
Second Triangle Height: 3
Second Triangle area: 7.5

In [ ]:
#Task:03

class Teacher:
  def __init__(self,name,dept):
    self.__name=name
    self.__dept=dept
    self.__a_list=[]

  def addCourse(self,a):
    self.__a_list.append(a.courses)

  def printDetail(self):
    print('====================================')
    print(f'Name: {self.__name}')
    print(f'Department: {self.__dept}')
    print(f'List of courses')
    print('====================================')
    for i in self.__a_list:
      print(i)
    print('====================================')   


class Course:
  def __init__(self,courses):
    self.courses=courses

t1 = Teacher("Saad Abdullah", "CSE")
t2 = Teacher("Mumit Khan", "CSE")
t3 = Teacher("Sadia Kazi", "CSE")                          
c1 = Course("CSE 110 Programming Language I")                           
c2 = Course("CSE 111 Programming Language-II")                           
c3 = Course("CSE 220 Data Structures")                           
c4 = Course("CSE 221 Algorithms")                           
c5 = Course("CSE 230 Discrete Mathematics")                           
c6 = Course("CSE 310 Object Oriented Programming")                           
c7 = Course("CSE 320 Data Communications")                          
c8 = Course("CSE 340 Computer Architecture") 
t1.addCourse(c1)
t1.addCourse(c2)
t2.addCourse(c3)
t2.addCourse(c4)
t2.addCourse(c5)
t3.addCourse(c6)
t3.addCourse(c7)
t3.addCourse(c8)
t1.printDetail()
t2.printDetail()
t3.printDetail()

====================================
Name: Saad Abdullah
Department: CSE
List of courses
====================================
CSE 110 Programming Language I
CSE 111 Programming Language-II
====================================
====================================
Name: Mumit Khan
Department: CSE
List of courses
====================================
CSE 220 Data Structures
CSE 221 Algorithms
CSE 230 Discrete Mathematics
====================================
====================================
Name: Sadia Kazi
Department: CSE
List of courses
====================================
CSE 310 Object Oriented Programming
CSE 320 Data Communications
CSE 340 Computer Architecture
====================================

In [ ]:
#Task:04

class Team:
  def __init__(self,name='Bangladesh'):
    self.__name=name
    self.__list=[]
  def setName(self,name):
    self.__name=name
  def addPlayer (self,name):
    self.__list.append(name.name)
  def printDetail(self):
    print(f'=====================\n'
          f'Team: {self.__name}\n'
          f'List of Players:\n'
          f'{self.__list}\n'
          f'=====================')
class Player:
  def __init__(self,name):
    self.name = name
b = Team()
b.setName('Bangladesh')
mashrafi = Player("Mashrafi")
b.addPlayer(mashrafi)
tamim = Player("Tamim")
b.addPlayer(tamim)
b.printDetail()
a = Team("Australia")
ponting = Player("Ponting")
a.addPlayer(ponting)
lee = Player("Lee")
a.addPlayer(lee)
a.printDetail()

In [ ]:
#Task:04(another)

class Team:
  def __init__(self,name=None):
    self.__name=name
    self.__a_list=[]

  def setName(self,name):
    self.__name=name

  def printDetail(self):
    print('=====================')
    print('Team:',self.__name)
    print(f'List of Players:\n'
    f'{self.__a_list}')
    print('=====================')

  def addPlayer(self,receive):
    self.__a_list.append(receive.pname)



class Player:
  def __init__(self,pname):
    self.pname=pname


b = Team()
b.setName('Bangladesh')
mashrafi = Player("Mashrafi")
b.addPlayer(mashrafi)
tamim = Player("Tamim")
b.addPlayer(tamim)
b.printDetail()
a = Team("Australia")
ponting = Player("Ponting")
a.addPlayer(ponting)
lee = Player("Lee")
a.addPlayer(lee)
a.printDetail()

=====================
Team: Bangladesh
List of Players:
['Mashrafi', 'Tamim']
=====================
=====================
Team: Australia
List of Players:
['Ponting', 'Lee']
=====================

In [ ]:
#Task:05

class Student:
  def __init__(self,name,id,dept,email=None,pswd=None,status=None):
    print("Student object is created!")
    self.name = name
    self.id = id
    self.dept = dept
    self.email=email
    self.password=pswd
    self.status=status
    self.courses=[]

class Usis:
  def __init__(self):
    print("USIS is ready to use!")
    self.stat=None
  def login(self,name):
    if (name.email != None) and (name.password != None):
      print("Login successful!")
      self.stat = 1
    else:
      print("Email and password need to be set")
  def advising(self,name,*sub):
    if self.stat == 1:
      if len(sub) == 0:
        print("You haven't selected any courses.")
      else:
        if len(sub) > 3:
          print("You need special approval to take more than 3 courses.")
        else:
          for i in sub:
            name.courses.append(i)
          print("Advising successful!")
    else:
      print('Please login to advise courses!')
  def individualDetails(self,name):
    a = ', '.join(name.courses)
    return(f'Name: {name.name}\n'
          f'ID: {name.id}\n'
          f'Department: {name.dept}\n'
          f'Advised courses: {a}')
rakib = Student("Rakib", 12301455, "CSE")
print("1***********************")
usis_obj = Usis()
print("2***********************")
usis_obj.login(rakib)
print("3***********************")
usis_obj.advising(rakib)
print("4***********************")
rakib.email = "rakib@hotmail.com"
rakib.password = "1234"
print("5***********************")
usis_obj.login(rakib)
print("6***********************")
usis_obj.advising(rakib)
print("7***********************")
usis_obj.advising(rakib, "CSE110", "PHY111", "MAT110", "CSE260")
print("8***********************")
usis_obj.advising(rakib, "CSE110", "PHY111", "MAT110")
print("9***********************")
print(usis_obj.individualDetails(rakib))

Student object is created!
1***********************
USIS is ready to use!
2***********************
Email and password need to be set
3***********************
Please login to advise courses!
4***********************
5***********************
Login successful!
6***********************
You haven't selected any courses.
7***********************
You need special approval to take more than 3 courses.
8***********************
Advising successful!
9***********************
Name: Rakib
ID: 12301455
Department: CSE
Advised courses: CSE110, PHY111, MAT110

In [ ]:
#Task:05 (olpo ektu fix korte hobe)

class Student:
  def __init__(self,name,id,dept,email=None,psw=None,status=None):
    self.name=name
    self.id=id
    self.dept=dept
    self.email=email
    self.psw=psw
    self.status=status
    print(f'Student object is created!')

class Usis:
  def __init__(self):

    print('USIS is ready to use!')
    self.courses=''

  def login(self,a):
    if a.email==None and a.psw==None:
      a.status='Logout'
      print('Email and password need to be set.')

    else:
      a.status='Logged In'
      print('Login successful!')  

  def advising(self,b,*courses):


    if b.status=='Logout' and len(courses)==0:
      print('Please login to advise courses!')


    elif  len(courses)==0:
      print("You haven't selected any courses.")
    elif len(courses)>3:
      self.courses=''
      print('You need special approval to take more than 3 courses.')

    elif len(courses)<=3:
          count=0
          for i in courses:
            self.courses=self.courses+i+', '
            count+=1
            self.courses=self.courses[:-2]
          print('Advising successful!')

  def individualDetails(self,c):
    return(f'Name: {c.name}\n'
    f'ID: {c.id}\n'
    f'Department: {c.dept}\n'
    f'Advised courses: {self.courses}')

rakib = Student("Rakib", 12301455, "CSE")
print("1***********************")
usis_obj = Usis()
print("2***********************")
usis_obj.login(rakib)
print("3***********************")
usis_obj.advising(rakib)
print("4***********************")
rakib.email = "rakib@hotmail.com"
rakib.password = "1234"
print("5***********************")
usis_obj.login(rakib)
print("6***********************")
usis_obj.advising(rakib)
print("7***********************")
usis_obj.advising(rakib, "CSE110", "PHY111", "MAT110", "CSE260")
print("8***********************")
usis_obj.advising(rakib, "CSE110", "PHY111", "MAT110")
print("9***********************")
print(usis_obj.individualDetails(rakib))

Student object is created!
1***********************
USIS is ready to use!
2***********************
Email and password need to be set.
3***********************
Please login to advise courses!
4***********************
5***********************
Login successful!
6***********************
You haven't selected any courses.
7***********************
You need special approval to take more than 3 courses.
8***********************
Advising successful!
9***********************
Name: Rakib
ID: 12301455
Department: CSE
Advised courses: CSE110PHY111MAT110

In [ ]:
#Task:06(Method:01)
class Train:
  def __init__(self,*args):
    self.args=args
    self.list=[]
    print(f'Welcome aboard on {args[0]}\nStart: {args[1]}\nDestination: {args[-1]}')
  def addPassenger(self,*args):
    for i in args:
      if len(i.args)==1:
        start=1
        end=len(self.args)-1
        fair=(end-start)*100
        self.tem=[i.args[0],self.args[1],self.args[-1],fair]
        self.list.append(self.tem)
      elif len(i.args)==2:
        for j in range(len(self.args)):
          if i.args[1]==self.args[j]:
            start=j
            end=len(self.args)-1
            fair=(end-start)*100
            self.tem=[i.args[0],self.args[start],self.args[-1],fair]
            self.list.append(self.tem)
      elif len(i.args)==3:
        for j in range(len(self.args)):
          if i.args[1]==self.args[j]:
            start=j
          elif i.args[2]==self.args[j]:
            end=j
        fair=(end-start)*100
        self.tem=[i.args[0],self.args[start],self.args[end],fair]
        self.list.append(self.tem)
    for i in args:
      print(f'{i.args[0]} welcome aboard')
  def allPassengerDetails(self):
    for k in self.list:
      print(f'Name: {k[0]},Start: {k[1]},Destination: {k[2]},Fair: ${k[3]}')
class Passenger:
  def __init__(self,*args):
    self.args=args

t1 = Train('T1-Express','New York','Manhattan','Brooklyn','Boston')
print("1========================")
p1 =Passenger("Naruto")
t1.addPassenger(p1)
p2 = Passenger("Sasuke","Manhattan")
p3 = Passenger("Hinata","Manhattan","Brooklyn")
print("2========================")
t1.addPassenger(p2,p3)
print("3========================")
t1.allPassengerDetails()
print("4========================")
t2 = Train('Europe-Express','London','Paris','Brussels','Turkey')
print("5========================")
p4 =Passenger("Max","London","Brussels")
p5 = Passenger("Eleven","Paris")
p6 = Passenger("Mike","Brussels")
t2.addPassenger(p4,p5,p6)
print("6========================")
t2.allPassengerDetails()

Welcome aboard on T1-Express
Start: New York
Destination: Boston
1========================
Naruto welcome aboard
2========================
Sasuke welcome aboard
Hinata welcome aboard
3========================
Name: Naruto,Start: New York,Destination: Boston,Fair: $300
Name: Sasuke,Start: Manhattan,Destination: Boston,Fair: $200
Name: Hinata,Start: Manhattan,Destination: Brooklyn,Fair: $100
4========================
Welcome aboard on Europe-Express
Start: London
Destination: Turkey
5========================
Max welcome aboard
Eleven welcome aboard
Mike welcome aboard
6========================
Name: Max,Start: London,Destination: Brussels,Fair: $200
Name: Eleven,Start: Paris,Destination: Turkey,Fair: $200
Name: Mike,Start: Brussels,Destination: Turkey,Fair: $100

In [ ]:
'''Maam in this code ami jeta korte chacchilam sheta holo train class er t1 object er shob destinations gulo ami akta dicitonary te save korte rakte chacchilam. jekhane 
keys gulo shob stoppage er name and oder index er position gula value te rekhe dibo. 
so erpor ami jokhon fare er hishab ta korte jabo tokhon ami
starting aar ending ta ei dictionary theke khujbo anbd tader value diye minus kore multiplies by 100
dilei amr fare ber howe jawar kotha. then maam ami fare ber kore notu arekta dicitonary khulbo
jekhane ami eder naam starting point ending point and fare ta rekhe dibo
then printing statement e giye ami loop chalabo final dciitonary er upor and eke eke 
sb kisu serially print kore dibo. dhoren ami erokom korte chacchilam


self.d1={'New York':1.'Manhattan':2,'Brooklyn':3,'Boston':4}

self.d2={'Naruto':['New York','Boston',300],'Sasuke':['Manhattan','Boston',200],'Hinata':['Manhattan','Brooklyn',100]}


miss evabe akhon just self.d2 dicitonary er upor jodi loop chalai
first e akta key ashbe jeta hobe amr name
then key er value thake always 3 ta
first er index ta hobe start
second index hobe end
third index hobe fare

'''

In [ ]:
#Task:06(Mehtod:02)(mine)
class Train:
  def __init__(self,*args):
    self.d2={}
    self.start = args[1]   #variable a store korlam karon pore jodi None ashe start and end er
    self.end = args[-1]    # tahole None ta k amar ei start end dara replace korte hbe. Naruto er belay None chilo. Tai naruto er start newyork
    print(f'Welcome aboard on {args[0]}\nStart: {args[1]}\nDestination: {args[-1]}')
    self.d1={}
    for i in range(1,len(args)):
      self.d1[args[i]]=i
  def addPassenger(self,*args):
    self.list=[]
    for k in args:
      self.list.append(k)
      self.shuru=0
      self.shesh=0
      if k.start == None:    # Eikhane Jodi passenger er start and end ta None thake tahole Train er start and stop ta diye kintu amk None ta rewrite korte hbe.
        k.start = self.start   # Apni ei part ta koren ni dekhei apnar dict2  er value te Naruto er belay start and end ta append hoy ni. Karon i.start == j[0] ei condition true e hoy ni
      if k.end == None:        # karon naruto te to start and end None chilo
        k.end = self.end
    for i in self.list:
        print(f'{i.name} welcome abroad')
        self.fare=0
        self.d2[i.name]=[]
        for j in self.d1.items():
          if i.start==j[0]:
            self.d2[i.name].append(i.start)
            self.shuru=self.d1[j[0]]
          if i.end==j[0]:
            self.d2[i.name].append(i.end)
            self.shesh=self.d1[j[0]]
        self.fare=(self.shesh-self.shuru)*100
        self.d2[i.name].append(self.fare)
  def allPassengerDetails(self):
    for keys,values in self.d2.items():
      print(f'Name: {keys}, Start:{values[0]}, Destination:{values[1]}, Fair: ${values[2]}')
    self.d2={}
class Passenger:
  def __init__(self,name,start= None,end= None):
    self.name=name
    self.start=start
    self.end=end
t1 = Train('T1-Express','New York','Manhattan','Brooklyn','Boston')
print("1========================")
p1 =Passenger("Naruto")
t1.addPassenger(p1)
p2 = Passenger("Sasuke","Manhattan")
p3 = Passenger("Hinata","Manhattan","Brooklyn")
print("2========================")
t1.addPassenger(p2,p3)
print("3========================")
t1.allPassengerDetails()
print("4========================")
t2 = Train('Europe-Express','London','Paris','Brussels','Turkey')
print("5========================")
p4 =Passenger("Max","London","Brussels")
p5 = Passenger("Eleven","Paris")
p6 = Passenger("Mike","Brussels")
t2.addPassenger(p4,p5,p6)
print("6========================")
t2.allPassengerDetails()

Welcome aboard on T1-Express
Start: New York
Destination: Boston
1========================
Naruto welcome abroad
2========================
Sasuke welcome abroad
Hinata welcome abroad
3========================
Name: Naruto, Start:New York, Destination:Boston, Fair: $300
Name: Sasuke, Start:Manhattan, Destination:Boston, Fair: $200
Name: Hinata, Start:Manhattan, Destination:Brooklyn, Fair: $100
4========================
Welcome aboard on Europe-Express
Start: London
Destination: Turkey
5========================
Max welcome abroad
Eleven welcome abroad
Mike welcome abroad
6========================
Name: Max, Start:London, Destination:Brussels, Fair: $200
Name: Eleven, Start:Paris, Destination:Turkey, Fair: $200
Name: Mike, Start:Brussels, Destination:Turkey, Fair: $100

In [ ]:
#Task:07 

class BracuStudent:
  def __init__(self,name,loc):
    self.name=name
    self.loc=loc
    self.bpass=False

  def show_details(self):
    print(f'Student Name: {self.name}')
    print(f'Lives in {self.loc}')
    print(f'Have Bus Pass? {self.bpass}')

  def get_pass(self):
    self.bpass=True  


class BracuBus:
  def __init__(self,name,limit=2):
    self.name=name
    self.limit=limit
    self.stus=[]


  def board(self,*stus):
    if len(stus) != 0:
      for i in stus:
        if i.loc == self.name:
          if i.bpass==True:
            if len(self.stus) < self.limit:
              print(f"{i.name} boarded the bus.")
              self.stus.append(i.name)
            else:
              print("Bus is full!")
          else:
            print("You don't have bus pass!")
        else:
          print("You got on wrong bus!")

    else:
      print("No passenger!")

  def show_details(self):
    print(f'Bus Route: {self.name}\n'
          f'Passengers Count: {len(self.stus)} (Max: {self.limit})\n'
          f'Passengers On Board: {self.stus}')



st1 = BracuStudent("Afif", "Mirpur")
print("1===========================")
st2 = BracuStudent("Shanto", "Motijheel")
st3 = BracuStudent("Taskin", "Mirpur")
st1.show_details()
st2.show_details()
print("2===========================")
st3.show_details()
print("3===========================")
bus1 = BracuBus("Mirpur")
bus2 = BracuBus("Azimpur", 5)
bus1.show_details()
bus2.show_details()
print("4===========================")
st2.get_pass()
st3.get_pass()
print("5===========================")
st2.show_details()
st3.show_details()
print("6===========================")
bus1.board()
print("7===========================")
bus1.board(st1, st2)
print("8===========================")
st1.get_pass()
st2.home = "Mirpur"
st1.show_details()
st2.show_details()
print("9===========================")
bus1.board(st1, st2, st3)
print("10===========================")
bus1.show_details()

1===========================
Student Name: Afif
Lives in Mirpur
Have Bus Pass? False
Student Name: Shanto
Lives in Motijheel
Have Bus Pass? False
2===========================
Student Name: Taskin
Lives in Mirpur
Have Bus Pass? False
3===========================
Bus Route: Mirpur
Passengers Count: 0 (Max: 2)
Passengers On Board: []
Bus Route: Azimpur
Passengers Count: 0 (Max: 5)
Passengers On Board: []
4===========================
5===========================
Student Name: Shanto
Lives in Motijheel
Have Bus Pass? True
Student Name: Taskin
Lives in Mirpur
Have Bus Pass? True
6===========================
No passenger!
7===========================
You don't have bus pass!
You got on wrong bus!
8===========================
Student Name: Afif
Lives in Mirpur
Have Bus Pass? True
Student Name: Shanto
Lives in Motijheel
Have Bus Pass? True
9===========================
Afif boarded the bus.
You got on wrong bus!
Taskin boarded the bus.
10===========================
Bus Route: Mirpur
Passengers Count: 2 (Max: 2)
Passengers On Board: ['Afif', 'Taskin']

# Basics

In [ ]:
#oPEARTOR OVERLOADING

In [ ]:
a=5
b=6
print(type(a))
print(a+b)

<class 'int'>
11

In [ ]:
#what if we want to add two objects 

class vector:
  def __init__(self,i):
    self.i=i


object_1=vector(1)
object_2=vector(1)

print(object_1+object_2)

TypeError: ignored

In [ ]:
class sum:
  def __init__(self,x,y):
    self.num=x+y

num1=sum(10,20)
num2=sum(20,30)
print(num1+num2) #object add korte parbena #operator overload korte hobe

TypeError: ignored

In [ ]:
#Query ase!!!!

#How to solve the issue

class vector:
  def __init__(self,i): #default constructor
    self.i=i

  def __add__(self,other): #add naam e method introduce korte hobe
    return self.i+other.i   #query je object er posiiton take return korbe na????

a=vector(1)
b=vector(1)
print(a+b)  
print(type(a+b))

In [ ]:
class data:
  def __init__(self,x):
    self.x=x

  #adding two objects
  def __add__(self,other):
    return self.x+other.x 

num1=data(10)
num2=data(20)
str1=data('cse')
str2=data('111')

print(num1+num2)  #num1.__add__(num2)
print(str1+str2)  ##str1.__add__(str2)

30
cse111

In [ ]:
#Concept of Operator Overloading 

class subject:
  def __init__(self,k):
    self.k=k

  #add marks of two subjects
  def __add__(self,other):
    return f'Addition is {self.k+other.k}'

  #subtract marks of two subjects

  def __sub__(self,other):
    return f'Subtraction is: {self.k-other.k}' 

  #multiply marks of two subjects

  def __mul__(self,other):
   return f'Multiplication is: {self.k*other.k}'

  #POwer of two subjects

  def __pow__(self,other):
   return f'Power is {self.k**other.k}' 
 
  def __truediv__(self,other):
   return f'Division is {self.k/other.k}' 

  def __floordiv__(self,other):
   return f'Floor diviison is {self.k//other.k}'

  def __lt__(self,other):
    if self.k<other.k:
      return 'num1 is less then num2'
    else:
      return 'num2 is less then num1' 
  def __le__(self,other):
    if self.k<other.k:
      return 'num1 is less than or equals to num2'
    else:
      return 'num2 is less than or equals to num1'      

  def __gt__(self,other):
    if self.k>other.k:
      return 'num1 is greater then num2'
    else:
      return 'num2 is greater then num1' 

  def __ge__(self,other):
    if self.k>=other.k:
      return 'num1 is greater or equals to num2'
    else:
      return 'num2 is greater or equals to num1'       

  def __eq__(self,other):
    if self.k==other.k:
      return 'Both are equal'
    else:
      return 'Not equal'       

  def __ne__(self,other):
    if self.k!=other.k:
      return 'Both are unequal'
    else:
      return 'equal' 


num1=subject(10)
num2=subject(5)
num3=subject(6)
num4=subject(6)

print(num1+num2) #h1.__add__(h2)

print(num1-num2)  #h1.__sub__(h2)

print(num1*num2)  #h1.__mul__(h2)

print(num1/num2)  #h1.__truediv__(h2)

print(num1**num2)  #h1.__pow__(h2)


print(num1//num2)  #h1.__floordiv__(h2)


print(num1<num2)  #h1.__lt__(h2)

print(num1>num2)  #h1.__gt__(h2)

print(num1<=num2)  #h1.__le__(h2)

print(num1>=num2)  #h1.__ge__(h2)

print(num3==num4)  #h1.__eq__(h2)

print(num1!=num2) #h1.__ne__(h2)

Addition is 15
Subtraction is: 5
Multiplication is: 50
Division is 2.0
Power is 100000
Floor diviison is 2
num2 is less then num1
num1 is greater then num2
num2 is less than or equals to num1
num1 is greater or equals to num2
Both are equal
Both are unequal

In [ ]:
#boolean 
class vector:
  def __init__(self,i):
    self.i=i
  def __lt__(self,other):
    if self.i<other.i:
      return True
    else:
      return False
a=vector(1)
b=vector(1)

c=a<b
print(c)

In [ ]:
class House:
  def __init__(self,w,d):
    self.window=w
    self.door=d

  def view(self):
    print('The house has',self.window,'window(s) and', self.door,'door(s).') 

  def __add__(self,other):#instance method
    new_window=self.window+other.window
    new_door=self.door+other.door
    return f'New House has {new_window} window(s) and {new_door} door(s).'


h1=House(6,2)
h2=House(4,1)
h1.view()
h2.view()

print(h1+h2) #h1.__add__(h2)

The house has 6 window(s) and 2 door(s)
The house has 4 window(s) and 1 door(s)
New House has 10 window(s) and 3 door(s)

In [ ]:
class House:
  def __init__(self,w,d):
    self.window=w
    self.door=d

  def view(self):
    print('The house has',self.window,'window(s) and', self.door,'door(s).') 

  def __add__(self,other):#instance method
    new_window=self.window+other.window
    new_door=self.door+other.door
    obj=House(new_window,new_door)
    return obj


h1=House(6,2)
h2=House(4,1)
h1.view()
h2.view()
h3=h1+h2 #h1.__add__(h2)
h3.view()

The house has 6 window(s) and 2 door(s).
The house has 4 window(s) and 1 door(s).
The house has 10 window(s) and 3 door(s).

In [ ]:
#aroo kichu examples and implementations

class data:
  def __init__(self,x):
    self.x=x

  def __gt__(self,other): 
    if (self.x >other.x):
      return True
    else:
      return False

num1=data(10)
num2=data(20)

if (num1>num2):  #num1.__gt__(num2)
  print('num1 is greater then num2')
else:
  print('num2 is greater then num1')

num2 is greater then num1

In [ ]:
#operator Overloading
class data:
  def __init__(self,x):
    self.x=x

  def __lt__(self,other):
    if self.x<other.x:
      return 'num1 is less then num2'
    else:
      return 'num2 is less then num1' 

num1=data(10)
num2=data(20)

print(num1<num2)  #num1.__lt__(num2)

num1 is less then num2

In [ ]:
#operator Overloading

class data:
  def __init__(self,x):
    self.x=x

  def __eq__(self,other):
    if self.x==other.x:
      return 'Both are equal'
    else:
      return 'Not equal' 

num1=data(30)
num2=data(30)

print(num1==num2)  #num1.__eq__(num2)

Both are equal

In [ ]:
#encapsulation  envelop
 
class Student:
  def __init__(self,name,id,cgpa):
    self.name=name
    self.id=id
    self.cgpa=cgpa

  def details(self):
    print('Name:', self.name,'ID:',self.id,'CGPA:',self.cgpa)

s1=Student('Yeashfi',11,3.97)
s2=Student('Ifti',24,4.00)

s1.cgpa='4.00' #accidentally change kore dilam 

s1.details()
s2.details()

Name: Yeashfi ID: 11 CGPA: 4.00
Name: Ifti ID: 24 CGPA: 4.0

In [ ]:
#encapsulation (private)
# data encapsulate korlam

class Student:
  def __init__(self,name,cgpa):
    self.name=name
    self.__cgpa=cgpa

  def details(self):
    print('Name:', self.name,'CGPA:',self.__cgpa)

  def updt_cgpa(self,cgpa):
    if cgpa>3.0:
      self.__cgpa=cgpa  
    else:
      print('Invalid CGPA, enter Id again')  

s1=Student('Ramisa',3.99)
s2=Student('Zead',3.97)
s1.updt_cgpa(3.7)

s1.__cgpa=4.00 #kaaj kortesena kintu  alada akta instance variable create kore felbe
#same naam e alada instance variable create korse
print(s1.__dict__)

# print(s1.__id) #access off kore disi xD the id is private
s2.__cgpa='Failed' #accidentally change kore dilam 

print(s2.__dict__)


s1.details() #details method call dile kaj korbe but class er bahir theke access korte parbena
s2.details()

{'name': 'Ramisa', '_Student__cgpa': 3.7, '__cgpa': 4.0}
{'name': 'Zead', '_Student__cgpa': 3.97, '__cgpa': 'Failed'}
Name: Ramisa CGPA: 3.7
Name: Zead CGPA: 3.97

In [ ]:
#conventional way method
#getter setter method

class Student:
  def __init__(self,name,cgpa):
    self.name=name
    self.__cgpa=cgpa

  def details(self):  #instance method
    print('Name:',self.name,'CGPA:',self.__cgpa)
  
  def set_cgpa(self,cgpa):   #convention name object er cgpa set korbe value update korbe
    if cgpa>0:
      self.__cgpa=cgpa  
    else:
      print('Invalid cgpa, enter cgpa again')  

  def get_cgpa(self): #shudhu cgpa check korte parbp
    return self.__cgpa  


s1=Student('Ahona',3.3)
s2=Student('Tafhim',3.97)

s1.set_cgpa(3.9)
print(s1.get_cgpa()) #specifically student er cgpa ekte chaisi full details nah
s1.details()
s2.details()
s2.set_cgpa(3.6)
print(s2.get_cgpa())

3.3
Name: Ramisa ID: 3.3
Name: Zead ID: 3.97
3.6

In [ ]:
#shudhu private nah public er jonno o getter setter method sue kora jabe
#conventional way method
#getter setter method

class Student:
  def __init__(self,name,id):
    self.name=name
    self.__id=id
  def details(self):  #instance method
    print('Name:',self.name,'ID:',self.__id)
  
  def set_name(self,name):   #convention name object er id set korbe value update korbe
    self.name=name
    

  def get_name(self): #shudhu id check korte parbp
    return self.name  


s1=Student('BOB',11)
s2=Student('Carol',24)
s1.set_name('Bushis')
print(s1.get_name()) #specifically student er idd ekte chaisi full details nah
s1.details()
s2.details()

Bushis
Name: Bushis ID: 11
Name: Carol ID: 24

In [ ]:
#shudhu private nah public er jonno o getter setter method sue kora jabe
#conventional way method
#getter setter method

class Student:
  def __init__(self,name,id):
    self.name=name
    self.__id=id
  def details(self):  #instance method
    print('Name:',self.name,'ID:',self.__id)

  def set_id(self,id):   #convention name object er id set korbe value update korbe
    if id>0:
      self.__id=id  
    else:
      print('Invalid ID, enter Id again')  

  def get_id(self): #shudhu id check korte parbp
    return self.__id     
  def set_name(self,name):   #convention name object er id set korbe value update korbe
    self.name=name
    

  def get_name(self): #shudhu id check korte parbp
    return self.name  


s1=Student('BOB',11)
s2=Student('Carol',24)
s1.set_name('Yeafi')
print(s1.get_name()) #specifically student er idd ekte chaisi full details nah


s1.set_id(55)
print(s1.get_id()) #specifically student er idd ekte chaisi full details nah

s2.set_id(66)
print(s2.get_id()) 

s1.details()
s2.details()

Yeafi
55
66
Name: Yeafi ID: 55
Name: Carol ID: 66

In [ ]:
#private method

# variables/attributes gulo private korsi
# lets see how to do private method

# keno dorkar
# details method print kortese ami chai na class er baire keu method ta use koruk

In [ ]:
class Student:
  def __init__(self,name,id):
    self.name=name
    self.__id=id

  def details(self):  #instance method
    print('Name:',self.name,'ID:',self.__id)
    

  def __method(self): #sub method directly use korte parbona
    print('Private method executed')


s1=Student('BOB',11)
s2=Student('Carol',24)

s1.__method()
s1.details()

Name: BOB ID: 11
Private method executed

In [ ]:
#how to access
class Student:
  def __init__(self,name,id):
    self.name=name
    self.__id=id

  def details(self):  #instance method
    print('Name:',self.name,'ID:',self.__id)
    self.__method()
    

  def __method(self): #sub method directly use korte parbona
    print('Private method executed')


s1=Student('BOB',11)
s2=Student('Carol',24)

# s1.__method()
s1.details()

Name: BOB ID: 11
Private method executed

In [ ]:
#what if we want to add objects directly
#object howe gese object add hoise

class vector:
  def __init__(self,i):
    self.i=i

  def __add__(self,other):
    return vector(self.i+other.i) #init diye pass hocche
a=vector(1)
b=vector(1)
# print(a+b)  
print(type(a+b))  
c=(a.__add__(b))
print(c)
print(c.i)#result print korar jonno

<class '__main__.vector'>
<__main__.vector object at 0x7f9c6356c790>
2

In [ ]:
#Task:01

class Exam:
  def __init__(self,marks):
    self.mark=marks

  def __add__(self,other):
    return Exam(self.mark+other.mark)  


Q1 = Exam(int(input("Quiz 1 (out of 10): ")))
Q2 = Exam(int(input("Quiz 2 (out of 10): ")))
Lab = Exam(int(input("Lab (out of 30): ")))
Mid = Exam(int(input("Mid (out of 20): ")))
Final = Exam(int(input("Final (out of 30): ")))
total = Q1 + Q2 + Lab + Mid + Final
print("Total marks: {}".format(total.mark))

Quiz 1 (out of 10): 10
Quiz 2 (out of 10): 10
Lab (out of 30): 30
Mid (out of 20): 20
Final (out of 30): 30
Total marks: 100

In [ ]:
#purpose of encapsulation is restricting the access
# to attributes and methods of a class to prevent the accidental modofication of data

class student:
  def __init__(self,name,id1):
    self.name=name
    self.id1=id1

a=student('Nashid',22201858)    
a.name='Ifti'
print(a.name)
#eta ki hoilo bhai
#public access

Ifti

In [ ]:
#private
#baire theke access kora jabena
class student:
  def __init__(self,name,id1):
    self.__name=name
    self.id1=id1

a=student('Nashid',22201858)    
# a.__name='Ifti'
print(a.__name)
#eta ki hoilo bhai
#public access

AttributeError: ignored

In [ ]:
#private
#baire theke access kora jabena
class student:
  def __init__(self,name,id1):
    self.__name=name
    self.id1=id1

a=student('Nashid',22201858) 
# print(a.__name) khuje pacchena baire theke changes pacchina   
a.__name='V'#notun variuable banacche agerta ke use kortesena
print(a.__name)
print(dir(a))


#eta ki hoilo bhai
#public access

AttributeError: ignored

In [ ]:
#private
#baire theke access kora jabena
class student:
  def __init__(self,name,id1):
    self.__name=name
    self.id1=id1

  def set(self,name):
    self.__name=name 


a=student('Nashid',22201858) 
a.set('Ifti')
print(a.__name)


#eta ki hoilo bhai
#public access

AttributeError: ignored

In [ ]:
#private
#baire theke access kora jabena
class student:
  def __init__(self,name,id1):
    self.__name=name
    self.id1=id1

  def set(self,name):
    self.__name=name 

  def get(self):
    print(self.__name)  

  def printdetails(self):
    print(self.__name)
    print(self.id1)  


a=student('Nashid',22201858) 
a.set('Ifti')
a.printdetails()
a.id1='22201862'
a.printdetails()
a.get()
print(a._student__name)

#eta ki hoilo bhai
#public access

Ifti
22201858
Ifti
22201862
Ifti
Ifti

In [ ]:
#private
#baire theke access kora jabena
class student:
  def __init__(self,name,id1):
    self.__name=name
    self.id1=id1

  def set(self,name):
    self.__name=name 

  def get(self):
    print(self.__name)  

  def __printdetails(self):
    print(self.__name)
    print(self.id1)  
  
  def printd(self):
    self.__printdetails()

a=student('Nashid',22201858) 
a.set('Ifti')

a.get()

a.printd()

Ifti
Ifti
22201858

In [ ]:
#extra
class Triangle:
  def __init__(self,b,h):
    self.__b=b
    self.__h=h
  def getBase(self):
    return self.__b

  def getHeight(self):
    return self.__h

  def area(self):
    return 0.5*self.__b*self.__h

  def __sub__(self,other):
    return Triangle(self.__b-other.__b,self.__h-other.__h)




t1 = Triangle(10, 5)
print("First Triangle Base:" , t1.getBase())
print("First Triangle Height:" , t1.getHeight())
print("First Triangle area:" ,t1.area())

t2 = Triangle(5, 3)
print("Second Triangle Base:" , t2.getBase())
print("Second Triangle Height:" , t2.getHeight())
print("Second Triangle area:" ,t2.area())

t3 = t1 - t2 #object
print("Third Triangle Base:" , t3.getBase())
print("Third Triangle Height:" , t3.getHeight())
print("Third Triangle area:" ,t3.area())

First Triangle Base: 10
First Triangle Height: 5
First Triangle area: 25.0
Second Triangle Base: 5
Second Triangle Height: 3
Second Triangle area: 7.5
Third Triangle Base: 5
Third Triangle Height: 2
Third Triangle area: 5.0

In [ ]:
#extra
class Dolls:
  def __init__(self,name,price,f=True):
    self.name=name
    self.price=price
    self.flag=f

  def detail(self):
    if self.flag==True:
      return f'Doll:{self.name}\nTotal Price: {self.price}'
    else:
      return f'Dolls:{self.name}\nTotal Price: {self.price}' 

  def __gt__(self,other):
    if self.price>other.price:
      return True
    else:
      return False

  def __add__(self,other):
    name=self.name+' '+other.name
    price=self.price+other.price
    return Dolls(name,price,False)



obj_1 = Dolls("Tweety", 2500)
print(obj_1.detail())
if obj_1 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_2 = Dolls("Daffy Duck", 1800) 
print(obj_2.detail())
if obj_2 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_3 = Dolls("Bugs Bunny", 3000)
print(obj_3.detail())
if obj_3 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_4 = Dolls("Porky Pig", 1500)
print(obj_4.detail())
if obj_4 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_5 = obj_2 + obj_3
print(obj_5.detail())
if obj_5 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

Doll:Tweety
Total Price: 2500
Thank you!
=========================
Doll:Daffy Duck
Total Price: 1800
Thank you!
=========================
Doll:Bugs Bunny
Total Price: 3000
Congratulations! You get the Tweety as a gift!
=========================
Doll:Porky Pig
Total Price: 1500
Thank you!
=========================
Dolls:Daffy Duck Bugs Bunny
Total Price: 4800
Congratulations! You get the Tweety as a gift!