In [ ]:
#Lab Assignments

In [ ]:
#Task: 01
class Student:
  ID=0
  def __init__(self,name,department,age,cgpa):
    self.name=name
    self.department=department
    self.age=age
    self.cgpa=cgpa
    Student.ID+=1
    self.id=Student.ID

  def showDetails(self):
    print(f'ID:{self.id}\nName:{self.name}\nDepartment:{self.department}\nAge:{self.age}\nCGPA:{self.cgpa}')
    
  @classmethod
  def from_String(cls,info):
    
    name,department,age,cgpa=info.split('-')  
    obj=cls(name,department,age,cgpa)
    return obj


s1 = Student("Samin", "CSE", 21, 3.91)
s1.showDetails()
print("-----------------------")
s2 = Student("Fahim", "ECE", 21, 3.85)
s2.showDetails()
print("-----------------------")
s3 = Student("Tahura", "EEE", 22, 3.01)
s3.showDetails() 
print("-----------------------")
s4 = Student.from_String("Sumaiya-BBA-23-3.96")
s4.showDetails()

ID:1
Name:Samin
Department:CSE
Age:21
CGPA:3.91
-----------------------
ID:2
Name:Fahim
Department:ECE
Age:21
CGPA:3.85
-----------------------
ID:3
Name:Tahura
Department:EEE
Age:22
CGPA:3.01
-----------------------
ID:4
Name:Sumaiya
Department:BBA
Age:23
CGPA:3.96

In [1]:
#Task: 02

class Assassin:
  count=0
  def __init__(self,name,rate):
    self.name=name
    self.rate=rate
    Assassin.count+=1
  @classmethod
  def failureRate(cls,name,new):
    # self.rate=100-new kora jabena to
    rate=100-new
    obj=cls(name,rate)
    return obj
  @classmethod

  def failurePercentage(cls,name,new):
    rate=100-int(new[:-1])
    obj=cls(name,rate)
    return obj  

  def printDetails(self):
    print(f'Name:{self.name}\nSuccess rate:{self.rate}%\nTotal number of Assassin:{Assassin.count}\n')

    
john_wick = Assassin('John Wick', 100)
john_wick.printDetails()
print('================================')
nagisa = Assassin.failureRate("Nagisa", 20)
nagisa.printDetails()
print('================================')
akabane = Assassin.failurePercentage("Akabane", "10%")
akabane.printDetails()

Name:John Wick
Success rate:100%
Total number of Assassin:1

================================
Name:Nagisa
Success rate:80%
Total number of Assassin:2

================================
Name:Akabane
Success rate:90%
Total number of Assassin:3

In [ ]:
#Lab:03

class Passenger:
  count=0
  def __init__(self,name):
    self.name=name
    Passenger.count+=1
    self.fare=450

  def set_bag_weight(self,weight):
    
    if weight<=20:
      self.fare=450
    elif 21<=weight<=50:
      self.fare+=50
    elif weight>50:
      self.fare+=100     

  def printDetail(self):
    print(f'Name:{self.name}\nBus Fare:{self.fare}')


print('Total Passenger:', Passenger.count)
p1 = Passenger('Jack')
p1.set_bag_weight(90)
p2 = Passenger('Carol')
p2.set_bag_weight(10)
p3 = Passenger('Mike')
p3.set_bag_weight(25)
print("=========================")
p1.printDetail()
print("=========================")
p2.printDetail()
print("=========================")
p3.printDetail()
print("=========================")
print('Total Passenger:', Passenger.count)

Total Passenger: 0
=========================
Name:Jack
Bus Fare:550
=========================
Name:Carol
Bus Fare:450
=========================
Name:Mike
Bus Fare:500
=========================
Total Passenger: 3

In [ ]:
#Task:04

class Travel:
  count=0
  def __init__(self,source,destination):
    self.source=source
    self.destination=destination
    self.flight='1'
    Travel.count+=1

  def set_time(self,time):
    self.flight=time

  def set_destination(self,place):
    self.destination=place

  def set_source(self,place):
    self.source=place

  def display_travel_info(self):
    return(f'Source:{self.source}\nDestination:{self.destination}\nFlight Time:{self.flight}:00')


print('No. of Traveller =', Travel.count)
print("=======================")
t1 = Travel("Dhaka","India")
print(t1.display_travel_info())
print("=======================")
t2 = Travel("Kuala Lampur","Dhaka")
t2.set_time(23)
print(t2.display_travel_info())
print("=======================")
t3 = Travel("Dhaka","New_Zealand")
t3.set_time(15)
t3.set_destination("Germany")
print(t3.display_travel_info())
print("=======================")
t4 = Travel("Dhaka","India")
t4.set_time(9)
t4.set_source("Malaysia")
t4.set_destination("Canada")
print(t4.display_travel_info())
print("=======================")
print('No. of Traveller =', Travel.count)

No. of Traveller = 0
=======================
Source:Dhaka
Destination:India
Flight Time:1:00
=======================
Source:Kuala Lampur
Destination:Dhaka
Flight Time:23:00
=======================
Source:Dhaka
Destination:Germany
Flight Time:15:00
=======================
Source:Malaysia
Destination:Canada
Flight Time:9:00
=======================
No. of Traveller = 4

In [ ]:
#Task:05
class Employee:
  def __init__(self,name,workingPeriod):
    self.name=name
    self.workingPeriod=workingPeriod

  @classmethod
  def employeeByJoiningYear(cls,name,year):
    year=2023-year
    obj=cls(name,year)
    return obj

  @staticmethod
  def experienceCheck(exp,gender):
    if exp<3:
      if gender=='male':
        return('He is not experienced')
      else:
        return'She is not experienced'
    else:
      if gender=='male':
        return('He is  experienced')
      else:
        return'She is experienced'          

employee1 = Employee('Dororo', 3)
employee2 = Employee.employeeByJoiningYear('Harry', 2016)
print(employee1.workingPeriod)
print(employee2.workingPeriod)
print(employee1.name)
print(employee2.name)
print(Employee.experienceCheck(2, "male"))
print(Employee.experienceCheck(3, "female"))

3
7
Dororo
Harry
He is not experienced
She is experienced

In [ ]:
#Task:06

class Laptop:
  laptopCount=0
  def __init__(self,name,count):
    self.name=name
    self.count=count
    Laptop.laptopCount+=count

  @staticmethod
  def advantage():
    print(f'laptops are portable')
    
  @classmethod
  def resetCount(cls):
    cls.laptopCount=0


lenovo = Laptop("Lenovo", 5)
dell = Laptop("Dell", 7)
print(lenovo.name, lenovo.count)
print(dell.name, dell.count)
print("Total number of Laptops", Laptop.laptopCount)
Laptop.advantage()
Laptop.resetCount()
print("Total number of Laptops", Laptop.laptopCount)

Lenovo 5
Dell 7
Total number of Laptops 12
laptops are portable
Total number of Laptops 0

In [ ]:
#Task:07

class Cat:
  Number_of_cats=0
  def __init__(self,color,activity):
    self.color=color
    self.activity=activity
    Cat.Number_of_cats+=1

  @classmethod

  def no_parameter(cls):
    
    color,activity='White','sitting'
    billu=cls(color,activity)
    return billu

  @classmethod

  def first_parameter(cls,color):
    
    activity='sitting'
    billu2=cls(color,activity)
    return billu2

  @classmethod

  def second_parameter(cls,activity):
    
    color='Grey'
    billu3=cls(color,activity)
    return billu3

  def changeColor(self,color):
    self.color=color

  def printCat(self):
    print(f'{self.color} cat is {self.activity}')

  

print("Total number of cats:", Cat.Number_of_cats)
c1 = Cat.no_parameter()
c2 = Cat.first_parameter("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c5 = Cat.second_parameter("playing")
print("=======================")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c5.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()
print("=======================")
print("Total number of cats:", Cat.Number_of_cats)

Total number of cats: 0
=======================
White cat is sitting
Black cat is sitting
Brown cat is jumping
Red cat is purring
Grey cat is playing
Blue cat is sitting
Purple cat is jumping
=======================
Total number of cats: 5

In [ ]:
#Task:08
from math import pi
class Cylinder:
  radius=5
  height=18
  def __init__(self,radius,height):
    print(f'Default radius={Cylinder.radius} and height={Cylinder.height}')
    Cylinder.radius=self.radius=radius
    Cylinder.height=self.height=height
    print(f'Updated: radius={Cylinder.radius} and height= {Cylinder.height}')

  @staticmethod

  def area(r,h):
    print(f'Area: {2*pi*r**2+2*pi*r*h}')


  @staticmethod

  def volume(r,h):

   print(f'Volume: {pi*r**2*h}')

  @classmethod

  def swap(cls,h,r):
    obj=cls(r,h)
    return obj

  @classmethod

  def changeFormat(cls,info):
    radius,height=info.split('-')
    obj=cls(float(radius),float(height))
    return obj



c1 = Cylinder(0,0)
Cylinder.area(c1.radius,c1.height)
Cylinder.volume(c1.radius,c1.height)
print("===============================")
c2 = Cylinder.swap(8,3)
c2.area(c2.radius,c2.height)
c2.volume(c2.radius,c2.height)
print("===============================")
c3 = Cylinder.changeFormat("7-13")
c3.area(c3.radius,c3.height)
c3.volume(c3.radius,c3.height)
print("===============================")
Cylinder(0.3,5.56).area(Cylinder.radius,Cylinder.height)
print("===============================")
Cylinder(3,5).volume(Cylinder.radius,Cylinder.height)

Default radius=5 and height=18
Updated: radius=0 and height= 0
Area: 0.0
Volume: 0.0
===============================
Default radius=0 and height=0
Updated: radius=3 and height= 8
Area: 207.34511513692635
Volume: 226.1946710584651
===============================
Default radius=3 and height=8
Updated: radius=7.0 and height= 13.0
Area: 879.645943005142
Volume: 2001.1945203366981
===============================
Default radius=7.0 and height=13.0
Updated: radius=0.3 and height= 5.56
Area: 11.045839770021713
===============================
Default radius=0.3 and height=5.56
Updated: radius=3 and height= 5
Volume: 141.3716694115407

In [ ]:
#Task:09

class Student:
  total_sikens=0
  bracu_sikens=0
  other_sikens=0
  def __init__(self,name,department,farm='BRAC University'):
    self.name=name
    self.department=department
    self.farm=farm

    Student.total_sikens+=1
    if self.farm=='BRAC University':
       Student.bracu_sikens+=1
    else:
       Student.other_sikens+=1
  def individualDetail(self):
    print(f'Name:{self.name}\nDepartment:{self.department}\nInstitution:{self.farm}')  
    
  @classmethod
  def printDetails(cls):
    print(f'Total Student(s):{Student.total_sikens}\n'
    f'BRAC University student(s):{Student.bracu_sikens}\n'
    f'Other institution Student(s):{Student.other_sikens}')

  @classmethod   

  def createStudent(cls,name,dept='CSE',school='BRAC University'):
    new_siken=cls(name,dept,school)
    return new_siken



Student.printDetails()
print('#########################')

mikasa = Student('Mikasa Ackerman', "CSE")
mikasa.individualDetail()
print('------------------------------------------')
Student.printDetails()

print('========================')

harry = Student.createStudent('Harry Potter', "Defence Against Dark Arts", "Hogwarts School")
harry.individualDetail()
print('-------------------------------------------')
Student.printDetails()

print('=========================')

levi = Student.createStudent("Levi Ackerman", "CSE")
levi.individualDetail()
print('--------------------------------------------')
Student.printDetails()

Total Student(s):0
BRAC University student(s):0
Other institution Student(s):0
#########################
Name:Mikasa Ackerman
Department:CSE
Institution:BRAC University
------------------------------------------
Total Student(s):1
BRAC University student(s):1
Other institution Student(s):0
========================
Name:Harry Potter
Department:Defence Against Dark Arts
Institution:Hogwarts School
-------------------------------------------
Total Student(s):2
BRAC University student(s):1
Other institution Student(s):1
=========================
Name:Levi Ackerman
Department:CSE
Institution:BRAC University
--------------------------------------------
Total Student(s):3
BRAC University student(s):2
Other institution Student(s):1

In [ ]:
#Method: 01
#Task:10

class SultansDine:
  branch=0
  total=0
  d1={}

  def __init__(self,loc):
    SultansDine.branch+=1
    self.loc=loc
    self.sell=0

  def sellQuantity(self,amount):
    if amount<10:
      self.sell=300*amount
      SultansDine.total+=self.sell
      self.percent=(self.sell/SultansDine.total)*100
      SultansDine.d1['Gulshan']=[self.sell]
      #SultansDine.d1['Gulshan'].append(self.percent)

    elif amount<20:
      self.sell=350*amount
      SultansDine.total+=self.sell
      self.percent=(self.sell/SultansDine.total)*100
      SultansDine.d1['Bailey Road']=[self.sell]
      #SultansDine.d1['Bailey Road'].append(self.percent)
      
    else:
      self.sell=400*amount
      SultansDine.total+=self.sell
      self.percent=(self.sell/SultansDine.total)*100
      SultansDine.d1['Dhanmondi']=[self.sell]
      #SultansDine.d1['Dhanmondi'].append(self.percent)

  def branchInformation(self):
    print(f'Branch Name: {self.loc}\nBranch sell:{self.sell}')

  @classmethod
  def details(cls):
   print(f"Total number of branch(s): {SultansDine.branch}\nTotal sell:{SultansDine.total}")

   for keys,values in cls.d1.items():
     print(f"Branch Name: {keys}. Branch sell:{values[0]} taka\nBranch consist of total sell's: {(values[0]/SultansDine.total)*100:.2f}%")
SultansDine.details()
print('########################')
dhanmondi = SultansDine('Dhanmondi')
dhanmondi.sellQuantity(25)
dhanmondi.branchInformation()
print('-----------------------------------------')
SultansDine.details()
print('========================')
baily_road = SultansDine('Baily Road')
baily_road.sellQuantity(15)
baily_road.branchInformation()
print('-----------------------------------------')
SultansDine.details()
print('========================')
gulshan = SultansDine('Gulshan')
gulshan.sellQuantity(9)
gulshan.branchInformation()
print('-----------------------------------------')
SultansDine.details()

Total number of branch(s): 0
Total sell:0
########################
Branch Name: Dhanmondi
Branch sell:10000
-----------------------------------------
Total number of branch(s): 1
Total sell:10000
Branch Name: Dhanmondi. Branch sell:10000 taka
Branch consist of total sell's: 100.00%
========================
Branch Name: Baily Road
Branch sell:5250
-----------------------------------------
Total number of branch(s): 2
Total sell:15250
Branch Name: Dhanmondi. Branch sell:10000 taka
Branch consist of total sell's: 65.57%
Branch Name: Bailey Road. Branch sell:5250 taka
Branch consist of total sell's: 34.43%
========================
Branch Name: Gulshan
Branch sell:2700
-----------------------------------------
Total number of branch(s): 3
Total sell:17950
Branch Name: Dhanmondi. Branch sell:10000 taka
Branch consist of total sell's: 55.71%
Branch Name: Bailey Road. Branch sell:5250 taka
Branch consist of total sell's: 29.25%
Branch Name: Gulshan. Branch sell:2700 taka
Branch consist of total sell's: 15.04%

In [ ]:
#Method: 02
#Task: 10
class SultansDine:
  total=0
  total_sell=0
  branch_info=[]
  
  def __init__(self,branch):
    self.name=branch
    SultansDine.total+=1

  def sellQuantity(self,quantity):

    if quantity<10:
      self.branch_sell=quantity*300

    elif quantity<20:
      self.branch_sell=quantity*350
    else:
      self.branch_sell=quantity*400

    SultansDine.total_sell+=self.branch_sell


  def branchInformation(self):
    print(f'Branch Name: {self.name}')
    print(f'Branch Sell:{self.branch_sell}')

    SultansDine.branch_info.append(self.name)
    SultansDine.branch_info.append(self.branch_sell)

# a=[Dhanmondi,10000,bailyroad,5250,Gulshan,2700]

  @classmethod
  def details(cls):
    print(f'Total number of branch(s):{cls.total}')
    print(f'Total Sell:{cls.total_sell}')

    for i in range(0, len(SultansDine.branch_info), 2):
       print(
                f"Branch Name: {SultansDine.branch_info[i]}, Branch Sell: {SultansDine.branch_info[i + 1]} Taka")
       print(
                f"Branch consists of total sell's: {round((SultansDine.branch_info[i + 1] / SultansDine.total_sell) * 100,2)}%")




SultansDine.details()
print('########################')
dhanmondi = SultansDine('Dhanmondi')
dhanmondi.sellQuantity(25)
dhanmondi.branchInformation()
print('-----------------------------------------')
SultansDine.details()

print('========================')

baily_road = SultansDine('Baily Road')
baily_road.sellQuantity(15)
baily_road.branchInformation()
print('-----------------------------------------')
SultansDine.details()

print('========================')

gulshan = SultansDine('Gulshan')
gulshan.sellQuantity(9)
gulshan.branchInformation()
print('-----------------------------------------')
SultansDine.details()

Total number of branch(s):0
Total Sell:0
########################
Branch Name: Dhanmondi
Branch Sell:10000
-----------------------------------------
Total number of branch(s):1
Total Sell:10000
Branch Name: Dhanmondi, Branch Sell: 10000 Taka
Branch consists of total sell's: 100.0%
========================
Branch Name: Baily Road
Branch Sell:5250
-----------------------------------------
Total number of branch(s):2
Total Sell:15250
Branch Name: Dhanmondi, Branch Sell: 10000 Taka
Branch consists of total sell's: 65.57%
Branch Name: Baily Road, Branch Sell: 5250 Taka
Branch consists of total sell's: 34.43%
========================
Branch Name: Gulshan
Branch Sell:2700
-----------------------------------------
Total number of branch(s):3
Total Sell:17950
Branch Name: Dhanmondi, Branch Sell: 10000 Taka
Branch consists of total sell's: 55.71%
Branch Name: Baily Road, Branch Sell: 5250 Taka
Branch consists of total sell's: 29.25%
Branch Name: Gulshan, Branch Sell: 2700 Taka
Branch consists of total sell's: 15.04%

In [ ]:
#Quiz question(tracing)
class X:
  temp=6
  def __init__(self):
    self.a=self.temp-2
    self.res=self.temp+1
    X.temp-=2
class Y:
  s=4
  r=8
  def __init__(self,b=None):
    if b==None:
      self.z,self.temp,self.sum=1,-3,4
      self.z=self.temp+5
      self.sum=3+self.temp+6
      self.temp-=1
      print(self.temp,self.z,self.sum)
    else:
      b.a+=5
      b.res+=1
      print(X.temp,b.a,b.res)

  def methodB(self,cls,m,n):
    self.sum=self.r+n+self.sum
    n=self.z+m
    print(self.z,n,self.sum)
    cls.temp=Y.r+n
    Y.r=Y.r+m+n
    Y.s=Y.s+m
    print(cls.temp,Y.r,Y.s) 
x1=X()
y1=Y()
y2=Y(x1)
y1.methodB(X,Y.s,Y.r)

-4 2 6
4 9 8
2 6 22
14 18 8

# *Basics*

In [ ]:
class Player:
  def __init__(self,run):
    self.run=run      #instance variable

  def hit_four(self):    #instance method
    self.run+=4

  def hit_six(self):
    self.run+=6

#blueprint

shakib=Player(0)
Tamim=Player(0)
Tamim.hit_four()
Tamim.hit_four()
shakib.hit_six()

print('Shakib:',shakib.run)
print('Tamim:',Tamim.run)

print('Tamim',Tamim.__dict__)

print('shakib',shakib.__dict__)

Shakib: 6
Tamim: 8
Tamim {'run': 8}
shakib {'run': 6}

In [ ]:
class AnimalClass:  
    def __init__(self,identity,age):  
        self.identity = identity  
        self.age = age  
      
    def feature(self):  
        if self.age == "10":  
            return True  
        else:  
            return False 

ac = AnimalClass('Lion','10') 
bd=AnimalClass('Cat',2) 
print(ac.__dict__) 
print(bd.__dict__)

{'identity': 'Lion', 'age': '10'}
{'identity': 'Cat', 'age': 2}

In [ ]:
class Player:
  def __init__(self,run):
    self.run=run                #instance variable
    self.team_run=0             #instance variable object dependent hoise 

  def hit_four(self):          #instance method
    self.run+=4
    self.team_run+=4

  def hit_six(self):
    self.run+=6
    self.team_run+=6


#blueprint

shakib=Player(0)
Tamim=Player(0)
Team=Player(0)
Tamim.hit_four()
Tamim.hit_four()
shakib.hit_six()

print('Shakib:',shakib.run)
print('Tamim:',Tamim.run)

print('Tamim',Tamim.__dict__)

print('shakib',shakib.__dict__)

print('Team run',shakib.team_run)
print('Team run',Team.team_run)

Shakib: 6
Tamim: 8
Tamim {'run': 8, 'team_run': 8}
shakib {'run': 6, 'team_run': 6}
Team run 6
Team run 0

In [ ]:
#we need a google drive shared
#class and static variable


class Player:
  team_run=0         #static or class variable, not dependent,central access  #tracing er jonno red flag

  def __init__(self,run):
    self.run=run      #instance variable
    Player.team_run+=run

  def hit_four(self): #instance method
    self.run+=4
    Player.team_run+=4
    

  def hit_six(self):
    self.run+=6
    Player.team_run+=6



#blueprint
print(Player.team_run) #works #not dependent


shakib=Player(0)
Tamim=Player(0)
Tamim.hit_four()
Tamim.hit_four()
shakib.hit_six()

print('Shakib:',shakib.run)
print('Tamim:',Tamim.run)

print('Tamim',Tamim.__dict__)

print('shakib',shakib.__dict__)


print('Team run',Tamim.team_run) #shakib,tamim er reference eo dakte parbo shomosh nao
print('Team run:',shakib.team_run)
print(Player.team_run) #works #not dependent

0
Shakib: 6
Tamim: 8
Tamim {'run': 8}
shakib {'run': 6}
Team run 14
Team run: 14
14

In [ ]:
#find out how many students are created

class Student:
   def __init__(self,name,id):
     self.name=name
     self.id=id
     self.count=0 #hoi nai mia
     self.count+=1 #eta hobena

   def details(self):
     print(f'Name: {self.name}, ID: {self.id},Student count: {self.count}')

s1=Student('Yeafiu',11)       
s2=Student('Boro RAMISA',33)
s3=Student('Marshia',22)
s3.details()
s2.details()

Name: Marshia, ID: 22,Student count: 1
Name: Boro RAMISA, ID: 33,Student count: 1

In [ ]:
#find out how many students are created

class Student:
   counter=0 #class or static variable 
   def __init__(self,name,id):
     self.name=name
     self.id=id
     Student.counter+=1 #why it is placed here 

   def details(self):
     print(f'Name: {self.name}, ID: {self.id},Student count: {Student.counter}')

print(Student.counter)
s1=Student('Eleven',11)
print(Student.counter)       
s2=Student('Jamil',33)
s3=Student('Marshia',22)

s3.details()
s2.details()
print(Student.counter)

0
1
Name: Marshia, ID: 22,Student count: 3
Name: Jamil, ID: 33,Student count: 3
3

In [ ]:
class Employee:
  org_name='Google'

  def __init__(self,name):
    self.name=name

  @classmethod
  def info(cls):
    print('This is class method')
    # return cls.org_name
    return cls.org_name

print(Employee.info())

This is class method
Google

In [ ]:
class Employee:
  org_name='Google'
  def __Init__(self,name):
    self.name=name

  @staticmethod
  def detail():
    print('This is statics method')

In [ ]:
class MyClass:
  def method(self):
    print(self,'instance method called')

  @classmethod
  def classmethod(cls):
    print(cls,'class method called')

  @staticmethod
  def staticmethod():
    print('static method called')

In [ ]:
class Student:
  uni_name='Bracu'

  def __init__(self,name,Id):
    self.name=name
    self.__id=Id

  def details(self):
    print('name:',self.name,'ID:',self.__id,Student.uni_name)


  @classmethod
  def from_string(cls,info):
  #info='Carol-47'
    name,id=info.split('-')
  #name='Carol',id=47
    chicken=cls(name,id)
    return chicken

s1=Student('Bob',11)
# s2=Student('Carol',47)
s2=Student.from_string('Carol-47')  
s1.details()
s2.details()

name: Bob ID: 11 Bracu
name: Carol ID: 47 Bracu

In [ ]:
class Student:
  uni_name='Bracu'

  def __init__(self,name,Id):
    self.name=name
    self.__id=Id

  def details(self):
    print('name:',self.name,'ID:',self.__id,Student.uni_name)

  @classmethod
  def up_uni_name(cls,u_name):
    cls.uni_name=u_name

  @staticmethod
  def check_department(Id): #extra function,utility function
    if Id[3:5]=='01':
      print('CSE')
    elif Id[3:5]=='47':
      print('CS')

s1=Student('Bob',11)
s2=Student('Bob',11)
s1.details()
s2.details() 
Student.check_department('22201858')
Student.check_department('22247858')

name: Bob ID: 11 Bracu
name: Bob ID: 11 Bracu
CSE
CS

In [ ]:
class Test:
    def mA(self):
        print(self)
        print("mA : Instance Method")

    @staticmethod
    def staticMethod():
        print("mA : Static Method")

    @classmethod
    def classMethod(cls):
        print("mA : Class Method")
        print(cls)
        
#no object so cant call mA()       
print(Test)
Test.classMethod()
Test.staticMethod()

<class '__main__.Test'>
mA : Class Method
<class '__main__.Test'>
mA : Static Method

In [ ]:
class Test:

    def mA():
        print("Please guess which type of method I am!")  

t1 = Test()
Test.mA()

Please guess which type of method I am!

In [ ]:
class Student:
  count = 0
  university ='Brac_Mohakhali'
  def __init__(self, name, age, dept):
    self.name= name
    self.age = age
    self.dept = dept
    Student.count+=1              #self.count+=1 this is not correct
    self.ID = Student.count

  def detail(self):
    print('Number of students:', Student.count)
    print('Name:', self.name)
    print('Age:', self.age)
    print('ID of student:', self.ID)
    print('Department:', self.dept)
    print('University:', Student.university)

  def change_dept(self, new_dept):       #CS-----CSE
    self.dept = new_dept

  @classmethod
  def change_university(cls, new):
    cls.university = new

  @classmethod
  def reset_student_count(cls):
    print('Previous number of students:', cls.count)
    cls.count = 0
    print('After resetting to 0, number of students:', cls.count)

  @staticmethod
  def checkAge(age):
    if age>20:
      return 'Age greater than 20'

s1 = Student('Bob', 22, 'CSE')
s1.detail()
print('---------------------------------------------')

s2 = Student('Carol', 25, 'EEE')
s2.detail()
print('---------------------------------------------')

Student.change_university('Brac_Badda')
print('---------------------------------------------')

s1.detail()
print('---------------------------------------------')

s2.detail()
print('---------------------------------------------')

s1.detail()
print('---------------------------------------------')

Student.reset_student_count()
print('---------------------------------------------')
print(Student.checkAge(30))

Number of students: 1
Name: Bob
Age: 22
ID of student: 1
Department: CSE
University: Brac_Mohakhali
---------------------------------------------
Number of students: 2
Name: Carol
Age: 25
ID of student: 2
Department: EEE
University: Brac_Mohakhali
---------------------------------------------
---------------------------------------------
Number of students: 2
Name: Bob
Age: 22
ID of student: 1
Department: CSE
University: Brac_Badda
---------------------------------------------
Number of students: 2
Name: Carol
Age: 25
ID of student: 2
Department: EEE
University: Brac_Badda
---------------------------------------------
Number of students: 2
Name: Bob
Age: 22
ID of student: 1
Department: CSE
University: Brac_Badda
---------------------------------------------
Previous number of students: 2
After resetting to 0, number of students: 0
---------------------------------------------
Age greater than 20

In [ ]:
class Student:
  count = 0
  campus ='Brac_Residential_Campus'
  def __init__(self, name, age, dept):
    self.name= name
    self.age = age
    self.dept = dept
    Student.count+=1              #self.count+=1 this is not correct
    self.ID = Student.count

  def detail(self):
    print('Number of students:', Student.count)
    print('Name:', self.name)
    print('Age:', self.age)
    print('ID of student:', self.ID)
    print('Department:', self.dept)
    print('campus:', Student.campus)

  def change_dept(self, new_dept):       #CS-----CSE
    self.dept = new_dept

  @classmethod
  def change_campus(cls, new):
    cls.campus = new

  @classmethod
  def reset_student_count(cls):
    print('Previous number of students:', cls.count)
    cls.count = 0
    print('After resetting to 0, number of students:', cls.count)

  @staticmethod
  def checkAge(age):
    if age>20:
      return 'Age greater than 20'

s1 = Student('Ted', 22, 'CSE')
s1.detail()
print('---------------------------------------------')

s2 = Student('Robin', 25, 'EEE')
s2.detail()
print('---------------------------------------------')

Student.change_campus('Brac_Badda')
print('---------------------------------------------')

s1.detail()
print('---------------------------------------------')

s2.detail()
print('---------------------------------------------')

s1.detail()
print('---------------------------------------------')

Student.reset_student_count()
print('---------------------------------------------')
print(Student.checkAge(30))

Number of students: 1
Name: Ted
Age: 22
ID of student: 1
Department: CSE
campus: Brac_Residential_Campus
---------------------------------------------
Number of students: 2
Name: Robin
Age: 25
ID of student: 2
Department: EEE
campus: Brac_Residential_Campus
---------------------------------------------
---------------------------------------------
Number of students: 2
Name: Ted
Age: 22
ID of student: 1
Department: CSE
campus: Brac_Badda
---------------------------------------------
Number of students: 2
Name: Robin
Age: 25
ID of student: 2
Department: EEE
campus: Brac_Badda
---------------------------------------------
Number of students: 2
Name: Ted
Age: 22
ID of student: 1
Department: CSE
campus: Brac_Badda
---------------------------------------------
Previous number of students: 2
After resetting to 0, number of students: 0
---------------------------------------------
Age greater than 20